.todo-button {
  height: 47px;
  width: 100px;
  padding: 10px;
  font-size: 12px;
  border: 1px solid #d3d3d3;
  cursor: pointer;
  font-weight: bold;
  line-height: 15px;
  @include flex-center();

  &:not(&-filter):not(&-modal){
    border-left: 0;
  }

  > img {
    height: 20px;
  }

  &-update-title, &-delete, &-check {
    width: 50px;
  }

  &-filter {
    margin: 0 10px
  }

  &-modal {
    height: 40px;
    background: #fcfcfc;
    border: 1px solid #d1d1d1;
  }

  &:disabled {
    background: #acacac;
    color: #363636;
  }
}

