@mixin flex-center($flex-direction: column, $align-items: center) {
  display: flex;
  align-items: $align-items;
  justify-content: center;
  flex-direction: $flex-direction;
}

@mixin todo-form() {
  @include flex-center($flex-direction: row);
}
