.edit-todo-modal {
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  border: 1px solid #b9b9b9;
  z-index: 2;
  border-radius: 6px;

  > h2 {
    text-align: center;
  }

  .todo-button-close {
    background: transparent;
    border: 0;
    position: absolute;
    right: 0;
  }

  .todo-modal {
    display: flex;
    margin: 20px 85px 20px 20px;

    &-picture {
      > img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
      }
    }

    &-content {
      margin-left: 50px;
      @include flex-center($align-items: flex-start);

      h4 {
        margin: 8px 0;
      }

      &-description {
        > input {
          height: 34px;
          width: 220px;
          padding: 0 10px;
        }
      }
    }
  }
}

.modal-back {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  background: #808080bd;
  top: 0;
}
